{{#if product}}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{product.thumbnails}}" class="img-fluid" alt="{{product.title}}">
            </div>
            <div class="col-lg-6">
                <h2>{{product.title}}</h2>
                <p class="text-primary">${{product.price}}</p>
                <p>Stock: {{product.stock}}</p>
                <hr>
                <button class="btn btn-primary" id="addToCart">Agregar al Carrito</button>
                <button class="btn btn-danger" id="delete">Borrar</button>
            </div>
        </div>
    </div>
{{else}}
    <p>Producto no encontrado</p>
{{/if}}

<script>
    document.querySelector('#delete').onclick = (e) => {
        const id = "{{ product._id }}"

        fetch(`/products/${id}`, { method: 'DELETE'})
            .then(() => {
                document.location.href = '/products'
                alert('Eliminado con exito')
            })
            .catch(e => {
                alert('No se pudo eliminar')
            })
    }

    document.querySelector('#addToCart').onclick = () => {
        const id = "{{ product._id }}";
        const title = "{{ product.title }}";
        const price = "{{ product.price }}";
        const cantidad = 1;
        const thumbnails = "{{ product.thumbnails }}"

        const data = { id, title, price, cantidad, thumbnails };

        fetch('/cart/agregar-a-lista', {
            method: 'POST', 
            headers: {
            'Content-Type': 'application/json', 
            },
            body: JSON.stringify(data),
        })
        .then((response) => {
            if (response.status === 200) {
                alert('Producto agregado al carrito con éxito');
        } else {
                alert('No se pudo agregar el producto a la lista');
            }
        })
        .catch((error) => {
        console.error('Error en la solicitud de agregar a la lista:', error);
        alert('Error en la solicitud de agregar a la lista');
        });
    };
</script>